@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";
@import "./src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
}

.flex-container {
  display: flex;

  .filter-dropdown {
    margin-right: 16px;
  }
}

.filter-dropdown {
  @include elr-filter-dropdown;
}

.selection-filters {
  @include elr-filter-buttons;
}

.filter-form {
  border: $border;
  border-radius: $border-radius;
  padding: 16px;

  p {
    font-size: 14px;
  }

  .bold {
    font-weight: 900;
  }

  .hide {
    clip: rect(0 0 0 0);
    height: 1px;
    width: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    max-height: 0;
    display: none;
  }

  .control-group {
    border-bottom: $border;
  }

  label {
    margin: 8px;
    position: relative;
    display: flex;
    align-items: center;

    [type="checkbox"] {
      margin-right: 8px;
      padding: 0;
      line-height: 1;
      display: block;
      transition: box-shadow 0.3s;
      border-radius: 1px;
      width: 10px;
      height: 10px;
      appearance: none;

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px $link-color;
      }
    }

    span {
      display: block;
      position: relative;
      font-size: 14px;
    }
  }
}
